body{
    padding: 10px;
    display: flex;
    gap: 8px;
}

main{
    width: 100dvw;
    height: 100%;
    padding: 20px 25px;
    background-image: var(--gradient-bg-main);
    border-radius: 8px;
}

section{
    position: relative;
    max-width: 800px;
    padding: 40px 20px;
}

.container-inputs{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    padding-bottom: 20px;
}

.container-inputs:not(:first-child){
    padding-bottom: 40px;
}

.container-input{
    display: flex;
    flex-flow: column;
    justify-content: center;
    line-height: 0.5em;
    min-width: 300px;
    width: 350px;
    padding: 20px 30px;
    gap: 5px; 
    border-radius: 10px;
    box-shadow: var(--shadow-container-input);
}

.label{
    font-weight: 600;
    font-size: 13.5px;
    color: var(--text-third);
}

.input{
    padding: 3px;
    border: none;
    border-bottom: var(--border-bottom-input);
    background-color: transparent;
    outline: none;
    font-weight: bold;
}

#card-assign{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; 
    max-height: 120px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: var(--border-bottom-input);
}

#info-user{
    display: flex;
    flex-flow: column;
}

#container-links{
    display: flex;
    flex-flow: row;
    gap: 5px;
}

#download-card{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 100%;
    transform: translateX(-120%);
    gap: 5px;
    padding: 5px 15px;
    margin-top: 10px;
    background-color: var(--bg-card-user);
    color: var(--text-primary);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(71, 61, 139, 0.800);
    cursor: pointer;
}