:root{
    --purple: #2B2A4C;
    --beige: #ead196;
    --grey: #7D766F;
}

.content{
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.summary{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.subsidiary{
    font-size: 1.2em;
    color: var(--purple);
    font-weight: bold;
}

.buttons{
    display: flex;
    gap: 15px;
}

.btn-actions{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    gap: 10px;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 5px var(--purple);
    background-color: var(--purple);
    color: var(--beige);
    font-weight: bolder;
    font-size: 0.9em;
    cursor: pointer;
}

.btn-actions:hover{
    background-color: #353069;
}

.window-filter{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    width: max-content;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 4px 4px 10px darkred;
    z-index: 9999;
    background-image: var(--gradient-bg-main);
    transition: transform 0.5s, opacity 1s;
    top: 50%;
    
}

.window-filter[data-isactive='false']{
    transform: translateX(-999%);
    opacity: 0%;
}

.window-filter[data-isactive='true']{
    transform: translateX(0%);
    opacity: 100%;

}

.filter{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 4px 4px 10px darkred;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
}

.general-filter[data-isactive='false']{
    display: none;
}

.general-filter[data-isactive='true']{
    display: flex;
}

label{
    color: #2B2A4C;
    font-weight: bold;
}

select{
    min-width: 200px;
    text-align: start;
    padding: 5px 7px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: darkred; 
    background-color: transparent;
}

option{
    background-color: var(--purple);
    color: var(--beige);
    font-weight: bold;
}

form .btn-actions{
    align-self: flex-end;
}

table{
    width: 100%;
    font-size: 0.7em;
}

th{
    padding: 2px 3px;
    border-radius: 3px;
}

tr.row-header{
    background-color: var(--purple);
    color: var(--beige);
    
}

tr:nth-child(even){
    background-color: #7D766F;
}

tr:hover{
    background-color: #504c48;
}

td{
    padding: 5px;
}

@media screen and (min-width: 500px) {
    .summary{
        justify-content: space-between;
    }

    select{
        min-width: 300px;
    }

    table{
        width: 100%;
        font-size: 0.8em;
    }
}