section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-inputs{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    padding-bottom: 20px;
}

.container-inputs:not(:first-child){
    padding-bottom: 40px;
}

.container-input{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    line-height: 0.5em;
    min-width: 300px;
    padding: 10px 20px;
    gap: 15px; 
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow-container-input);
}

.input{
    padding: 3px;
    border: none;
    border-bottom: var(--border-bottom-input);
    background-color: transparent;
    outline: none;
    font-weight: 700;
    padding-block: 5px 0px;
}

.input::placeholder{
    font-weight: lighter;
}

#download{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 2px 10px;
    background-color: green;
    color: var(--text-primary);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#download:hover{
    box-shadow: 3px 3px 5px rgba(61, 139, 68, 0.8);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


#container-loading{
    display: none;
    color: #BF3131;
    font-weight: bolder;
}

#container-loading[data-isloading="false"]{
    display: flex;
    animation-play-state: paused;
    font-size: 13.5px;
    color: green;
    font-weight: bold;
}

#container-loading[data-isloading="true"]{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading linear infinite;
    animation-duration: 1s;
    animation-play-state: running;
}

#loading{
    font-size: 35pt;
}

@keyframes loading{
    100% {transform: rotate(360deg); display: flex;}
}