:root{ 
    --border-home-hover: 1px solid #ff000099;
    --text-info-user: var(--Beige150)
}

body{
    padding: 10px;
    display: flex;
    gap: 8px;
}

main{
    width: 100dvw;
    height: 100%;
    padding: 20px 25px;
    background-image: var(--gradient-bg-main);
    border-radius: 8px;
}

#full-name{
    margin-bottom: 20px;
}

#card{
    display: flex;
    flex-flow: column wrap;
    max-width: max-content;
    height: max-content;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--bg-card-user);
}

.info-user{
    color: var(--text-info-user);
    font-size: 12px;
}

.info-user span{
    font-weight: bold;
    font-size: 16px;
}