:root{ 
    --text-info-user: var(--Beige150)
}

.main-title{
    color: var(--main-title);
}

#full-name{
    margin-bottom: 20px;
}

#card{
    display: flex;
    flex-flow: column wrap;
    max-width: max-content;
    height: max-content;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--bg-card-user);
}

.info-user{
    color: var(--text-info-user);
    font-size: 12px;
}

.info-user span{
    font-weight: bold;
    font-size: 16px;
}