:root{ 
    --border-home-hover: 1px solid #ff000099;
}

body{
    padding: 10px;
}

nav{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    width: max-content;
    padding: 10px;
    border-radius: 8px;
    background-image: var(--gradient-bg-login);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.icon{
    width: 32px;
    height: 100%;
    transition: 0.5s all linear;
}
.icon:hover:not(.opt){
    transform: scale(120%);
}

#home{
    margin-bottom: 30px;
}
#home img{
    border-radius: 50%;
}
#home img:hover{
    border: var(--border-home-hover);
}

.project-section{
    position: relative;
    max-height: 32px;
}

.project-options{
    position: absolute;
    width: 200px;
    height: max-content;
    left: 130%;
    top: 0%;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color-primary);
}

.title-options{
    color: var(--text-seccondary);
    font-weight: bold;
}
