:root{ 
    --border-home-hover: 1px solid #ff000099;
    --gradient-bg: linear-gradient(to bottom, #fff7ef, #f8bda1);
}

body{
    padding: 15px;
    display: flex;
    gap: 10px;
}

nav{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    width: max-content;
    padding: 10px 0px;
    border-radius: 8px;
    background-image: var(--gradient-bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.icon{
    width: 32px;
    height: 32px;
    transition: 0.5s all linear;
}
.icon:hover:not(.icon-opt){
    transform: scale(120%);
}

#home{
    margin-bottom: 30px;
}
#home img{
    border-radius: 50%;
}
#home img:hover{
    border: var(--border-home-hover);
}

.project-section{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 10px;

}
.project-section:hover{

    
}

.project-section img{
    display: block;
    margin: auto;
}

.project-section > .projects-options{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    width: max-content;
    height: max-content;
    padding: 20px;
    top: 0%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--);
    background-color: var(--color-primary);
    transition: 0.5s all linear;
}
hr{
    align-self: normal;
}

.projects-options[data-isactive='true']{
    left: 4rem;
    pointer-events: all;
}
.projects-options[data-isactive='false']{
    position: absolute;
    transform: translateX(-999%);
    opacity: 0%;
    /*pointer-events: none;*/
}

.projects-options > .title-options{
    color: var(--text-seccondary);
    font-weight: bold;
}

.projects-options > .container-option{
    display: flex;
    align-items: center;
}

.container-option > .icon-opt{
    margin-right: 10px;
}

.container-option > .link-opt{
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    color: white;
}
.link-opt:hover{
    color: var(--text-primary);
}

main{
    width: 100dvw;
    height: 100%;
    padding: 20px 25px;
    background-image: var(--gradient-bg);
    border-radius: 8px;
}
