*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    /*Gradients*/
    --gradient-body: linear-gradient(to bottom, #B72E2E, #7D0A0A);
    --gradient-bg-login: linear-gradient(to bottom, #fff7ef 30%, #faa55f);

    /*Shadows*/
    --shadow-forms: 5px 5px 10px rgba(0, 0, 0, 0.600);
    --shadow-container-input: 5px 5px 10px darkred;
    --shadow-submit: 3px 3px 5px rgba(146, 1, 1, 0.8);
}

body{
    height: 100dvh;
    background-image: var(--gradient-body);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#forms{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 430px;
    width: 320px;
    padding: 20px 30px;
    border-radius: 15px;
    background-image: var(--gradient-bg-login);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: var(--shadow-forms);
}

#logo{
    width: 90%;
    margin-bottom: 20px;
}

.container-input{
    display: flex;
    flex-flow: column;
    justify-content: center;
    line-height: 0.5em;
    width: 100%;
    margin: 10px 0px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: var(--shadow-container-input);
}

.label-login{
    font-weight: 700;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.750);
}

.input-login{
    border: none;
    border-bottom: 2px solid darkred;
    background-color: transparent;
    outline: none;
    padding: 3px;
    font-weight: bold;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    background-image: linear-gradient(to bottom, rgba(224, 6, 6, 0.801), rgb(134, 10, 10));
    color: #f8d0a2;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: var(--shadow-submit);
    cursor: pointer;
}

.submit span{
    padding-right: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}