body{
    height: 100dvh;
    background-image: var(--gradient-body);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#forms{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 430px;
    width: 320px;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: var(--shadow-forms);
    background-image: var(--gradient-bg-login);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo{
    width: 90%;
    margin-bottom: 20px;
}

#message{
    font-size: 13px;
    font-weight: bold;
    align-self: flex-start;
    padding-bottom: 5px; 
}

#message[data-success='false']{
    color: red;
}

#message[data-success='true']{
    color: green
}

.container-input{
    display: flex;
    flex-flow: column;
    justify-content: center;
    line-height: 0.5em;
    width: 100%;
    margin: 10px 0px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: var(--shadow-container-input);
}

.label-login{
    font-weight: 600;
    font-size: 13.5px;
    color: var(--text-label);
}

.input-login{
    padding: 3px;
    border: none;
    border-bottom: var(--border-input);
    background-color: transparent;
    outline: none;
    font-weight: bold;
}

#submit{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    background-image: var(--gradient-button-login);
    color: #f8d0a2;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: var(--shadow-submit);
    cursor: pointer;
}

#submit span{
    padding-right: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#container-loading[data-isloading="false"]{
    display: none;
}

#container-loading[data-isloading="true"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

#loading{
    font-size: 35pt;
    font-weight: bolder;
    color: #BF3131;
    animation: loading linear infinite;
    animation-duration: 1s;
}

@keyframes loading{
    100% {transform: rotate(360deg);}
}