:root{
    --border-home-hover: 1px solid #ff000099;
}

nav{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: max-content;
    min-height: max-content;
    height: 100%;
    padding: 10px 0px;
    border-radius: 8px;
    background-image: var(--gradient-bg-nav);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.icon{
    width: max-content;
    height: 26px;
    transition: 0.5s all linear;
}
.icon-section:hover{
    cursor: pointer;
    transform: scale(120%);
}

#home{
    margin-bottom: 20px;
}
#home .icon-section{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
#home .icon-section:hover{
    border: var(--border-home-hover);
}

.project-section{
    position: relative;
    width: 100%;
    margin: 8px 10px;
}

/*
.project-section:hover{
    border-left: 5px solid darkred;
    margin-left: 5px;
}*/

.project-section img{
    display: block;
    margin: auto;
}

.project-section > .projects-options{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    min-width: 250px;
    width: max-content;
    height: max-content;
    top: 0%;
    border-radius: 5px;
    background-color: var(--bg-project-options);
    box-shadow: 5px 5px 10px darkred;
    z-index: 1000;
    transform: translateX(-999%);
    opacity: 0%;
    pointer-events: none;
    transition: opacity 1s, transform 0.7s, pointer-events 0s;
}

hr{
    align-self: normal;
}

.projects-options[data-isactive='true']{
    opacity: 100%;
    transform: translateX(28%);
    pointer-events: auto;
    transition: opacity 1s, transform 0.7s, pointer-events 0s;
}
.projects-options[data-isactive='false']{
    transform: translateX(-999%);
}

.projects-options > .title-options{
    color: var(--text-seccondary);
    font-weight: bold;
    font-size: 0.9em;
}

.projects-options > .container-option{
    display: flex;
    align-items: center;
}

.container-option > .icon-opt{
    margin-right: 10px;
}

.container-option > .link-opt{
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 600;
    color: white;
}
.link-opt:hover{
    color: var(--text-primary);
}

#exit{
    margin-top: 5px;
}