:root{
    --border-home-hover: 1px solid #ff000099;
}

.hide{
    display: none;
}

.show{
    display: flex;
}

#nav-onoff{
    align-items: center;
    justify-content: center;
    width: 52px;
    height: max-content;
    border-radius: 15px;
    padding: 10px 0px;
    border: none;
    background-image: var(--gradient-bg-nav);
    box-shadow: 1px 1px 10px darkred;
    z-index: 1000;
    position: absolute;
    cursor: pointer;
}
#nav-onoff img{
    width: 32px;
    height: 32px;
}

nav{
    flex-flow: column;
    align-items: center;
    position: absolute;
    width: max-content;
    height: 98%;
    min-height: max-content;
    padding: 10px 0px;
    border-radius: 8px;
    background-image: var(--gradient-bg-nav);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 1px 1px 5px darkred;
    z-index: 1000;
} 

.icon{
    width: max-content;
    height: 26px;
    transition: 0.5s all linear;
}

.icon-section:hover{
    cursor: pointer;
    transform: scale(120%);
}

#home{
    margin-bottom: 20px;
    height: 32px;
}

#home .icon-section{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#home .icon-section:hover{
    border: var(--border-home-hover);
}

#exit{
    margin-top: auto;
    height: 26px;
}

.project-section{
    position: relative;
    width: 100%;
    margin: 10px 10px;
}

.project-section:hover{
    border-left: 5px solid darkred;
    margin-left: 5px;
}

.project-section img{
    display: block;
    margin: auto;
}

.project-section > .projects-options{
    display: flex;
    position: absolute;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    min-width: 250px;
    width: max-content;
    height: max-content;
    top: 0%;
    border-radius: 5px;
    background-color: var(--bg-project-options);
    box-shadow: 5px 5px 10px darkred;
    z-index: 1000;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 1s, transform 0.8s, pointer-events 1s;
}

hr{
    align-self: normal;
}

.projects-options[data-isactive='true']{
    opacity: 100%;
    transform: translateX(20%); 
    pointer-events: auto;
    
}
.projects-options[data-isactive='false']{
    transform: translateX(-999%);
    pointer-events: none;
    opacity: 0%;
}

.projects-options > .title-options{
    color: var(--text-seccondary);
    font-weight: bold;
    font-size: 0.9em;
}

.projects-options > .container-option{
    display: flex;
    align-items: center;
}

.container-option > .icon-opt{
    margin-right: 10px;
}

.container-option > .link-opt{
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 600;
    color: white;
}
.link-opt:hover{
    color: var(--text-primary);
}

@media screen and (min-width: 601px) {
    #nav-onoff{
        display: none;
    }

    nav{
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
    } 

    .project-section:hover{
        border-left: 5px solid darkred;
        margin-left: 5px;
    }
}

@media screen and (max-width: 600px) {
    #nav-onoff{
        display: flex;
    }

    nav{
        display: none;
    } 
}