:root{
    --text-info: rgba(0, 0, 0, 0.720);
    --update-tags: #f3d38f;
    --shadow-update-tags: 3px 3px 5px #A85954;
    --shadow-card-eletronic: 2px 2px 5px darkred;

    --green: green;
    --darkblue: darkblue;
}

section{
    display: flex;
    flex-flow: column wrap;
}

#update-labels{
    width: max-content;
    padding: 15px 20px;
    margin-block: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 13px;
    box-shadow: var(--shadow-update-tags);
    cursor: pointer;
    border: none; 
    background-color: var(--update-tags);
}

#container-cards{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    overflow-y: visible;
    max-height: 600px;
}

.card-pricer{
    flex: 0 1;
    display: flex;
    flex-flow: column;
    position: relative;
    padding: 10px;
    align-items: center;
    min-width: 220px;
    height: max-content;
    box-shadow: var(--shadow-card-eletronic);
    border-radius: 15px;
    cursor: pointer;
    transform-origin: left;
    line-height: 1.1em;
    z-index: 9;
    overflow: hidden;
    contain: layout;
    will-change: width, height;
}

@keyframes in {
    0%{
        
    }
    100%{
        min-width: 400px;
    }
}

@keyframes out {
    0%{
        min-width: 400px;
        height: 800px;
    }
    100%{
        min-width: 220px;
        height: 100px;
    }
}

.card-pricer[data-isactive="true"]{
    animation: in forwards;
    
    animation-duration: 1s;

    outline: 3px solid var(--green);
}

.card-pricer[data-isactive="false"]{
    animation: out forwards;
    animation-duration: 1s;
}

.section-infos{
    width: 100%;
}

.icon-info{
    position: absolute;
    right: 10px;
}

.label, .title{
    color: var(--text-info);
    font-size: 13.5px;
    font-weight: bold;
}

.title{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text-normal{
    font-size: 13.5px;
    color: var(--text-info);
    font-weight: normal;
    text-transform: normal;
}

.link-painel{
    color: var(--text-third);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.link-painel:hover{
    text-decoration: underline;
    background-color: var(--text-third);
    color: white;
}

hr{
    margin: 10px 0px;
}


/*CONTAINER - STATUS*/
#container-status{
    width: 100%;
    z-index: 1;
}

@keyframes hide {
    0%{
        display: initial;
    }
    100%{
        display: none;
    }
}

#container-status[data-isactive = "false"]{
    animation: hide forwards;
    animation-duration: 1s;
}

#container-status[data-isactive = "true"]{
    display: initial;  
}

.status{
    display: flex;
    flex-flow: row;
}

.icon-status{
    margin-right: 10px;
}


/*CONTAINER - LOG*/
.container-log{
    display: flex;
    flex-flow: column;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-log::-webkit-scrollbar{
    background: var(--bg-scrollbar);
    border-radius: 8px; 
}
.container-log::-webkit-scrollbar-thumb{
    background: darkred;
    border-radius: 20px;
}
.container-log::-webkit-scrollbar-corner{
    background: rgb(248, 209, 150);
}

.title-log, .result-sucess, .result-update{
    font-weight: bold;
    font-size: 13.5px;
}

.title-log{
    margin-bottom: 10px;
    color: var(--text-third);
}

.result-sucess{
    color: var(--green);
}

.result-update{
    margin-bottom: 10px;
    color: var(--darkblue);
}