:root{
    --text-info: rgba(0, 0, 0, 0.720);
    --update-tags: #f3d38f;
    --shadow-update-tags: 3px 3px 5px #A85954;
    --shadow-card-eletronic: 2px 2px 5px darkred;
}

section{
    display: flex;
    flex-flow: column wrap;
}

#update-labels{
    width: max-content;
    padding: 15px 20px;
    margin-block: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 13px;
    box-shadow: var(--shadow-update-tags);
    cursor: pointer;
    border: none; 
    background-color: var(--update-tags);
}

#container-cards{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    overflow-y: visible;
}

.card-pricer{
    display: flex;
    flex-flow: column;
    position: relative;
    padding: 10px;
    align-items: center;
    min-width: 220px;
    height: max-content;
    box-shadow: var(--shadow-card-eletronic);
    border-radius: 15px;
    cursor: pointer;
}

.card-pricer[data-isactive="true"]{
    outline: 3px solid green;
}

.section-infos{
    width: 100%;
}

.icon-info{
    position: absolute;
    right: 10px;
}

.label, .title{
    color: var(--text-info);
    font-size: 13.5px;
    font-weight: bold;
}

.title{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text-normal{
    font-weight: normal;
    text-transform: normal;
}

.link-painel{
    color: var(--text-third);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.link-painel:hover{
    text-decoration: underline;
    background-color: var(--text-third);
    color: white;
}


/*CONTAINER - STATUS*/
.card-pricer > div{
    width: 100%;
}

hr{
    margin: 10px 0px;
}

.status{
    display: flex;
    flex-flow: row;
}

.icon-status{
    margin-right: 10px;
}


/*ATTRIBUTE*/
#container-status{
    
}

#container-status[data-isactive = "false"]{
    display: none;
}

#container-status[data-isactive = "true"]{
    display: initial;
}

@keyframes inout {
    100% { transition: 2s ease-in-out;}
}
