*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Default Colors*/
:root{
    --Beige100: #ffe9d0;
    --Beige200: #f8d0a2;
    --Red600: #BF3131;
    --Red900: #ff0000;
    --Black600: rgba(0, 0, 0, 0.600);
}

/*Global References using reference default colors*/
:root{
    --text-primary: var(--Beige200);
    --text-seccondary: var(--Beige100);
    --color-primary: var(--Red600);
    --text-label: rgba(0, 0, 0, 0.650);
    
    /*Shadows*/
    --shadow-forms: 5px 5px 10px var(--Black600);
    --shadow-container-input: 5px 5px 10px darkred;
    --shadow-submit: 3px 3px 5px rgba(146, 1, 1, 0.8);

    /*Border*/
    --border-input: 2px solid darkred;

    /*Gradients*/
    --gradient-body: linear-gradient(to bottom, #B72E2E, #7D0A0A);
    --gradient-bg-login: linear-gradient(to bottom, #fff7ef 30%, #faa55f);
    --gradient-button-login: linear-gradient(to bottom, rgba(224, 6, 6, 0.801), rgb(134, 10, 10));
}