header{
  margin-bottom: 20px;
}

.flex-col{
    display: flex;
    flex-flow: column;
}

.flex-row{
    display: flex;
    flex-flow: row wrap;
}

.summary-grid{
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    gap: 10px;
}

.market-summary-grid{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: auto;
    gap: 10px;
}


@media screen and (min-width: 601px) {
    header{
        background-color: red;
    }
}