/*CLASSES REUTILIZAVEIS*/
.flex-col{
    display: flex;
    flex-flow: column;
}

.flex-row{
    display: flex;
    flex-flow: row wrap;
}

.shadow-box{
    box-shadow: 5px 2px 5px rgba(139, 0, 0, 0.600);
}

.border-content{
    border-radius: 10px;
}

.small-text{
    font-size: 10px;
}

.medium-text{
    font-size: 14px;
}

.large-text{
    font-size: 24px;
}

.color-primary{
    color: rgb(49, 42, 73);
}

.color-seccondary{
    color: #ead196;
}

/*Calendar and Search*/
.button_model{
    width: 40px;
    height: 40px; 
    border: none;
    border-radius: 20px;
    background-color: rgb(49, 42, 73);
    box-shadow: 3px 2px 5px rgba(49, 42, 73, 0.600);
    cursor: pointer;
}
.button_model:hover{
    background-color: rgb(74, 56, 136);
}

/*CLASSES ESPECIFICAS*/
header{
  margin-bottom: 20px;
}

h3, h5{
    text-align: center;
}

dd{
    font-weight: 700;
}

input[type="date"]{
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid darkred;
}

.content{
    gap: 15px;
}

.main-summary{
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    gap: 10px;
    padding: 15px;
    line-height: 1.5em;
}

.year, .month, .dayweek{
    font-weight: bold;
}

.date-filter{
    justify-content: center;
    align-self: center;
    padding: 20px;
    gap: 10px;
    width: max-content; 
}

.date-filter label{
    font-weight: bold;
}

.list-itens{
    padding: 10px;
    gap: 5px;
}

.list-itens h5{
    margin-bottom: 5px;
}

.item{
    cursor: pointer;
}

.market-summary-grid{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: auto;
    align-items: flex-start;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-inline: 5px;
    gap: 10px;
}

.rank-number{
    align-self: center;
}

.market-summary-grid dd{
    margin-left: 1em;
}

.market{
    color: darkred;
}

.percent-sale{
    color: #ead196;
    background-color: #2B2A4C;
    border-radius: 5px;
    font-weight: bold;
    padding-inline: 5px;
}

.delivery{
    color: darkblue;
}

.item > .container-itens-hour{
    padding: 10px;
    gap: 10px;
    background-color: #2B2A4C;
}

.list-itens-hour{
    gap: 10px;
}

.item-hour{
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 5px #ead196;
}

.item-hour dt{
    font-weight: bold;
    
}

.item-hour dd{
    font-weight: normal;
    padding-inline: 12px;
}

@media screen and (min-width: 601px) {
    header{
      
    }
}