body{
    padding: 10px;
    display: flex;
    gap: 8px;
    height: 100dvh;
    background-color: darkred;
    background-image: var(--gradient-body);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main::-webkit-scrollbar{
    background: var(--bg-scrollbar);
    border-radius: 8px;
}
main::-webkit-scrollbar-thumb{
    background: darkred;
    border-radius: 20px;

}
main::-webkit-scrollbar-corner{
    background: rgb(248, 209, 150);
}

header{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding-left: 10px;
}

header .icon{
    transform: scale(120%);
    margin-left: 5px;
}

main{
    width: 100dvw;
    height: 100%;
    padding: 40px 20px;
    background-image: var(--gradient-bg-main);
    border-radius: 8px;
    overflow-y: scroll;
}

.main-title{
    color: var(--main-title);
}