body{
    height: 100dvh;
    background-color: darkred;
    background-image: var(--gradient-body);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}