:root{
    --beige: #ead196;
    --purple: #2B2A4C;
}

[data-inactive]{
    filter: brightness(80%);
    pointer-events: none;
}

#nav-placeholder{
    z-index: 9998;
}

.content{
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-top: 50px;
}

.header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.header h3{
    color: var(--purple);
}

#btn-add-email{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: green;
    padding-block: 7px;
    padding-left: 13px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px green;
    cursor: pointer;
}

#btn-add-email:hover{
    background-color: rgb(0, 158, 0);
}

#btn-add-email img{
    height: 24px;
    width: 24px;
}

#container-new-email{
    position: absolute;
    display: flex;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px darkred;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 15px;
    background-image: var(--gradient-bg-main);
    z-index: 9999;
}

#container-new-email[data-isactive='false']{
    display: none;
}

label{
    font-weight: bold;
    color: var(--purple);
}

input{
    max-width: max-content;
    text-align: start;
    padding: 5px 7px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: darkred;
    background-color: transparent;
}

.save-new-email{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: green;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px darkgreen;
    gap: 5px;
    font-weight: bold;
    color: var(--beige);
    cursor: pointer;
}

.save-new-email:hover{
    background-color: rgb(0, 158, 0);
}

.close-container{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(30%, -50%);
    font-weight: bolder;
    background-color: darkred;
    box-shadow: 2px 2px 5px darkred;
    padding: 7px 10px;
    color: var(--beige);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.close-container:hover{
    background-color: rgb(196, 7, 7);
}

.container-list-emails{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    box-shadow: 2px 2px 5px darkred;
    padding: 15px;
    border-radius: 10px;
}

.email-user{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    box-shadow: 2px 2px 5px darkred;
    padding: 10px 20px;
    border-radius: 10px;
}

.email-user img, .delete-email{
    height: 24px;
    width: 24px;
}
.email-user div{
    flex: 1;
}
.delete-email{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container-actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.delete-notes{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--beige);
    font-weight: bold;
    font-size: 0.9em;
    border: none;
    border-radius: 7px;
    background-color: darkred;
    padding: 8px 10px;
    box-shadow: 4px 4px 8px rgb(117, 7, 7);
    cursor: pointer;
}

.start-process{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--beige);
    font-weight: bold;
    font-size: 0.9em;
    border: none;
    border-radius: 7px;
    background-color: var(--purple);
    padding: 8px 15px;
    box-shadow: 4px 4px 8px var(--purple);
    cursor: pointer;
}

.delete-notes:hover{
    background-color: rgb(196, 7, 7);
}

.start-process:hover{
    background-color: #37357c;
}

@media screen and (min-width: 570px){
    input{
        min-width: 280px;
    }
    .delete-email{
        margin-left: 30px;
    }
}

@media screen and (min-width: 770px){
    .email-user{
        width: max-content;
        justify-content: flex-start;
    }
    .container-list-emails{
        justify-content: flex-start;
    }
}